ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c154 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 481.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c294 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 487.6pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c89 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 205.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c374 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 268.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c24 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 67pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c74 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 34.7pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c71 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 494.6pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c59 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 67.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c44 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 67.1pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c109 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 481.7pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c358 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c178 {
  -webkit-text-decoration-skip: none;
  color: #1d1c1d;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c75 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c199 {
  -webkit-text-decoration-skip: none;
  color: #1d1c1d;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: sub;
  font-size: 11.6pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c147 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: sub;
  font-size: 11.6pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c55 {
  margin-left: 26.4pt;
  padding-top: 0pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 17.8pt;
}
.c156 {
  margin-left: 26.2pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9578458070755005;
  text-align: justify;
  margin-right: 17.8pt;
}
.c57 {
  color: #1d1c1d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c112 {
  margin-left: 26.2pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9685017466545105;
  text-align: left;
  margin-right: 18.1pt;
}
.c317 {
  margin-left: 5.6pt;
  padding-top: 12.4pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9507075548171997;
  text-align: left;
  margin-right: 11.8pt;
}
.c65 {
  color: #1d1c1d;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c98 {
  color: #1e1e1e;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c120 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: sub;
  font-size: 10.8pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c86 {
  margin-left: 6.2pt;
  padding-top: 0pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9543300271034241;
  text-align: justify;
  margin-right: 2.8pt;
}
.c36 {
  margin-left: 4.1pt;
  padding-top: 0.3pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9537261128425598;
  text-align: justify;
  margin-right: 17.3pt;
}
.c66 {
  margin-left: 5.6pt;
  padding-top: 0pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 0.9532954096794128;
  text-align: justify;
  margin-right: 2.4pt;
}
.c243 {
  margin-left: 26.3pt;
  padding-top: 0.3pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9173551201820374;
  text-align: left;
  margin-right: 17.8pt;
}
.c210 {
  margin-left: 5.6pt;
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9543300271034241;
  text-align: justify;
  margin-right: 2.4pt;
}
.c238 {
  color: #1d1c1d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: super;
  font-size: 11.6pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c183 {
  margin-left: 26.2pt;
  padding-top: 0.3pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9466279149055481;
  text-align: left;
  margin-right: 17.8pt;
}
.c56 {
  margin-left: 26.3pt;
  padding-top: 0.1pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9068098068237305;
  text-align: justify;
  margin-right: 17.9pt;
}
.c133 {
  margin-left: 26.2pt;
  padding-top: 0.5pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 18.2pt;
}
.c19 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c30 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c191 {
  color: #1d1c1d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c11 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c197 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c39 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 6pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c198 {
  margin-left: 5.6pt;
  padding-top: 0pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9537268877029419;
  text-align: justify;
  margin-right: 2.4pt;
}
.c52 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c151 {
  margin-left: 4.4pt;
  padding-top: 0pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9597605466842651;
  text-align: left;
  margin-right: 17.6pt;
}
.c58 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: super;
  font-size: 10.8pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c253 {
  margin-left: 4.4pt;
  padding-top: 0pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9507065415382385;
  text-align: left;
  margin-right: 17.3pt;
}
.c240 {
  margin-left: 26.3pt;
  padding-top: 0pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 21.5pt;
}
.c31 {
  margin-left: 26.1pt;
  padding-top: 0.2pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 0.9607265591621399;
  text-align: justify;
  margin-right: 17.8pt;
}
.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c60 {
  color: #1d1c1d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c16 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: super;
  font-size: 10pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c80 {
  color: #1d1c1d;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c172 {
  color: #1c1c1c;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c6 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c77 {
  margin-left: 5.9pt;
  padding-top: 0pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9537261128425598;
  text-align: justify;
  margin-right: 2.5pt;
}
.c14 {
  color: #1d1c1d;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c195 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c15 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: italic;
}
.c33 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c41 {
  margin-left: 4.2pt;
  padding-top: 15.6pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.8335931301116943;
  text-align: left;
  margin-right: 25pt;
}
.c148 {
  color: #1c1c1c;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c29 {
  margin-left: 26.1pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 0.9584752917289734;
  text-align: left;
  margin-right: 17.8pt;
}
.c62 {
  margin-left: 26.2pt;
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 17.9pt;
}
.c28 {
  color: #1d1c1d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c328 {
  color: #3c4043;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c4 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c276 {
  margin-left: 26.3pt;
  padding-top: 0.2pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 17.8pt;
}
.c48 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 7pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c87 {
  margin-left: 26.4pt;
  padding-top: 0.3pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9551736116409302;
  text-align: justify;
  margin-right: 17.8pt;
}
.c363 {
  margin-left: 5.6pt;
  padding-top: 0pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 0.9545895457267761;
  text-align: justify;
  margin-right: 2.4pt;
}
.c117 {
  margin-left: 26.2pt;
  padding-top: 0.2pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9607265591621399;
  text-align: left;
  margin-right: 17.8pt;
}
.c128 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 6.5pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c179 {
  margin-left: 26.2pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: justify;
  margin-right: 17.9pt;
}
.c96 {
  margin-left: 26.2pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9067168235778809;
  text-align: left;
  margin-right: 17.8pt;
}
.c153 {
  color: #1e1e1e;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c23 {
  color: #1c1c1c;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c107 {
  margin-left: 5.5pt;
  padding-top: 0pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9074363112449646;
  text-align: justify;
  margin-right: 1.7pt;
}
.c13 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: super;
  font-size: 11.6pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c365 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9550594091415405;
  text-align: justify;
  margin-right: 17.3pt;
}
.c185 {
  padding-top: 0.3pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 0.87985759973526;
  text-align: justify;
  margin-right: 17.4pt;
}
.c173 {
  padding-top: 0.2pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9552358984947205;
  text-align: justify;
  margin-right: 17.3pt;
}
.c357 {
  padding-top: 0.3pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9544788002967834;
  text-align: justify;
  margin-right: 17.3pt;
}
.c132 {
  padding-top: 15.4pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9643039703369141;
  text-align: justify;
  margin-right: 17.6pt;
}
.c88 {
  padding-top: 0.3pt;
  text-indent: 3.6pt;
  padding-bottom: 0pt;
  line-height: 0.955802321434021;
  text-align: left;
  margin-right: 17.3pt;
}
.c204 {
  padding-top: 0.3pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9537276029586792;
  text-align: justify;
  margin-right: 17.3pt;
}
.c252 {
  padding-top: 0pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9543300271034241;
  text-align: justify;
  margin-right: 2.5pt;
}
.c201 {
  padding-top: 0.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9618706703186035;
  text-align: justify;
  margin-right: 17.6pt;
}
.c355 {
  padding-top: 0pt;
  text-indent: 25.4pt;
  padding-bottom: 0pt;
  line-height: 0.955802321434021;
  text-align: left;
  margin-right: 17.3pt;
}
.c310 {
  padding-top: 15.3pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 0.8958660960197449;
  text-align: justify;
  margin-right: 17.3pt;
}
.c320 {
  padding-top: 0.3pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9570245146751404;
  text-align: left;
  margin-right: 18pt;
}
.c339 {
  padding-top: 1pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9622147083282471;
  text-align: justify;
  margin-right: 17.6pt;
}
.c379 {
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9539762139320374;
  text-align: justify;
  margin-right: 17.3pt;
}
.c359 {
  padding-top: 2pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9556109309196472;
  text-align: justify;
  margin-right: 17.4pt;
}
.c184 {
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9327077865600586;
  text-align: justify;
  margin-right: 17.8pt;
}
.c162 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9305284023284912;
  text-align: justify;
  margin-right: 17.3pt;
}
.c292 {
  padding-top: 15.4pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 0.9624223113059998;
  text-align: justify;
  margin-right: 17.6pt;
}
.c293 {
  padding-top: 14.8pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9559911489486694;
  text-align: justify;
  margin-right: 17.5pt;
}
.c250 {
  padding-top: 0.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9546946883201599;
  text-align: justify;
  margin-right: 17.3pt;
}
.c249 {
  padding-top: 15.3pt;
  text-indent: 4.1pt;
  padding-bottom: 0pt;
  line-height: 0.9538944363594055;
  text-align: justify;
  margin-right: 17.3pt;
}
.c113 {
  padding-top: 15pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 0.9397759437561035;
  text-align: justify;
  margin-right: 17.5pt;
}
.c315 {
  padding-top: 0.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.953724205493927;
  text-align: justify;
  margin-right: 17.5pt;
}
.c188 {
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9421268105506897;
  text-align: justify;
  margin-right: 17.8pt;
}
.c262 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9477999806404114;
  text-align: justify;
  margin-right: 17.3pt;
}
.c285 {
  padding-top: 0.2pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9544785022735596;
  text-align: justify;
  margin-right: 17.3pt;
}
.c346 {
  padding-top: 0.8pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9552358984947205;
  text-align: justify;
  margin-right: 17.4pt;
}
.c369 {
  padding-top: 0.2pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9154311418533325;
  text-align: justify;
  margin-right: 17.3pt;
}
.c323 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9277747869491577;
  text-align: justify;
  margin-right: 17.3pt;
}
.c377 {
  padding-top: 0.2pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9549879431724548;
  text-align: justify;
  margin-right: 18.1pt;
}
.c302 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9548212885856628;
  text-align: justify;
  margin-right: 17.3pt;
}
.c304 {
  padding-top: 0pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 0.8334498405456543;
  text-align: left;
  margin-right: 22.8pt;
}
.c350 {
  padding-top: 14.8pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 0.9542296528816223;
  text-align: justify;
  margin-right: 17.3pt;
}
.c236 {
  padding-top: 0pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9543300271034241;
  text-align: justify;
  margin-right: 2.5pt;
}
.c283 {
  padding-top: 0pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9543300271034241;
  text-align: justify;
  margin-right: 2.4pt;
}
.c289 {
  padding-top: 14.8pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9522171020507812;
  text-align: left;
  margin-right: 17.5pt;
}
.c347 {
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9588751792907715;
  text-align: justify;
  margin-right: 17.8pt;
}
.c213 {
  padding-top: 0.2pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9594925045967102;
  text-align: justify;
  margin-right: 17.8pt;
}
.c308 {
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9620368480682373;
  text-align: justify;
  margin-right: 17.6pt;
}
.c275 {
  padding-top: 1pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.8360512256622314;
  text-align: left;
  margin-right: 24pt;
}
.c260 {
  padding-top: 0.2pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9573947191238403;
  text-align: justify;
  margin-right: 17.8pt;
}
.c208 {
  padding-top: 0.3pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9529712200164795;
  text-align: justify;
  margin-right: 17.3pt;
}
.c288 {
  padding-top: 0pt;
  text-indent: 25.9pt;
  padding-bottom: 0pt;
  line-height: 0.9597625136375427;
  text-align: left;
  margin-right: 17.6pt;
}
.c371 {
  padding-top: 0pt;
  text-indent: 22.1pt;
  padding-bottom: 0pt;
  line-height: 0.9617950320243835;
  text-align: left;
  margin-right: 17.6pt;
}
.c186 {
  padding-top: 0.3pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9139866232872009;
  text-align: justify;
  margin-right: 17.3pt;
}
.c202 {
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 0.9583467841148376;
  text-align: left;
  margin-right: 17.8pt;
}
.c268 {
  padding-top: 0.4pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: justify;
  margin-right: 17.8pt;
}
.c167 {
  padding-top: 0.2pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9545565843582153;
  text-align: justify;
  margin-right: 17.3pt;
}
.c382 {
  padding-top: 0.2pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9551740288734436;
  text-align: left;
  margin-right: 17.9pt;
}
.c341 {
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9548482894897461;
  text-align: left;
  margin-right: 20.4pt;
}
.c161 {
  padding-top: 0.3pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9014673829078674;
  text-align: justify;
  margin-right: 17.3pt;
}
.c354 {
  padding-top: 0.2pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9552358984947205;
  text-align: justify;
  margin-right: 17.6pt;
}
.c226 {
  padding-top: 0pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9533467888832092;
  text-align: justify;
  margin-right: 17.4pt;
}
.c380 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9567440748214722;
  text-align: justify;
  margin-right: 17.5pt;
}
.c230 {
  padding-top: 0pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9542269706726074;
  text-align: justify;
  margin-right: 2.4pt;
}
.c129 {
  margin-left: 5.8pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9533467888832092;
  text-align: justify;
  margin-right: 2.5pt;
}
.c5 {
  margin-left: 0.2pt;
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9552332162857056;
  text-align: justify;
  margin-right: 17.5pt;
}
.c376 {
  padding-top: 15.4pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 0.9624223113059998;
  text-align: justify;
  margin-right: 17.5pt;
}
.c126 {
  padding-top: 0.2pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9626311659812927;
  text-align: justify;
  margin-right: 17.6pt;
}
.c45 {
  padding-top: 0.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.954782247543335;
  text-align: justify;
  margin-right: 17.3pt;
}
.c306 {
  padding-top: 15.3pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 0.9019418358802795;
  text-align: left;
  margin-right: 17.3pt;
}
.c180 {
  padding-top: 0pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9543278813362122;
  text-align: justify;
  margin-right: 2.6pt;
}
.c61 {
  padding-top: 14.8pt;
  text-indent: 4.1pt;
  padding-bottom: 0pt;
  line-height: 0.9544810652732849;
  text-align: left;
  margin-right: 17.3pt;
}
.c127 {
  padding-top: 0.3pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9507062435150146;
  text-align: left;
  margin-right: 17.3pt;
}
.c232 {
  padding-top: 0.2pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9475388526916504;
  text-align: justify;
  margin-right: 17.3pt;
}
.c136 {
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9514641165733337;
  text-align: justify;
  margin-right: 17.3pt;
}
.c265 {
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9607265591621399;
  text-align: justify;
  margin-right: 17.8pt;
}
.c165 {
  margin-left: 26.7pt;
  padding-top: 19pt;
  padding-bottom: 0pt;
  line-height: 0.955172598361969;
  text-align: left;
  margin-right: 21.1pt;
}
.c263 {
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9068098068237305;
  text-align: left;
  margin-right: 17.9pt;
}
.c110 {
  padding-top: 14.8pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.8843677043914795;
  text-align: left;
  margin-right: 17.3pt;
}
.c95 {
  padding-top: 0pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9529712200164795;
  text-align: justify;
  margin-right: 2.5pt;
}
.c342 {
  padding-top: 0pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9380163550376892;
  text-align: justify;
  margin-right: 2.4pt;
}
.c158 {
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9595088362693787;
  text-align: left;
  margin-right: 17.8pt;
}
.c266 {
  padding-top: 0.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9142265915870667;
  text-align: justify;
  margin-right: 17.4pt;
}
.c311 {
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9579501748085022;
  text-align: justify;
  margin-right: 17.8pt;
}
.c303 {
  padding-top: 14.8pt;
  text-indent: 4.1pt;
  padding-bottom: 0pt;
  line-height: 0.9559064507484436;
  text-align: justify;
  margin-right: 17.3pt;
}
.c134 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9544798135757446;
  text-align: justify;
  margin-right: 17.4pt;
}
.c203 {
  padding-top: 11.7pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9550596475601196;
  text-align: justify;
  margin-right: 17.3pt;
}
.c121 {
  padding-top: 0.2pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9087268114089966;
  text-align: justify;
  margin-right: 17.3pt;
}
.c244 {
  padding-top: 0pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9547831416130066;
  text-align: justify;
  margin-right: 2.4pt;
}
.c267 {
  padding-top: 0.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9537252187728882;
  text-align: justify;
  margin-right: 17.4pt;
}
.c143 {
  padding-top: 0.7pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 17.8pt;
}
.c340 {
  padding-top: 0pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9552358984947205;
  text-align: justify;
  margin-right: 2.4pt;
}
.c69 {
  padding-top: 0.3pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.8951560854911804;
  text-align: justify;
  margin-right: 17.3pt;
}
.c102 {
  padding-top: 0pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9626311659812927;
  text-align: justify;
  margin-right: 17.5pt;
}
.c280 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9552358984947205;
  text-align: justify;
  margin-right: 17.4pt;
}
.c207 {
  padding-top: 0.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9546294212341309;
  text-align: justify;
  margin-right: 17.3pt;
}
.c168 {
  padding-top: 15.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.952221691608429;
  text-align: left;
  margin-right: 17.4pt;
}
.c228 {
  padding-top: 0pt;
  text-indent: 3.4pt;
  padding-bottom: 0pt;
  line-height: 0.954782247543335;
  text-align: left;
  margin-right: 17.3pt;
}
.c206 {
  padding-top: 12.1pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9550296068191528;
  text-align: justify;
  margin-right: 17.3pt;
}
.c295 {
  padding-top: 0.2pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.954801619052887;
  text-align: justify;
  margin-right: 17.3pt;
}
.c318 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9552344083786011;
  text-align: justify;
  margin-right: 17.3pt;
}
.c329 {
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9622750282287598;
  text-align: justify;
  margin-right: 17.6pt;
}
.c327 {
  padding-top: 0.3pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 18pt;
}
.c229 {
  padding-top: 0pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9260922074317932;
  text-align: left;
  margin-right: 17.6pt;
}
.c76 {
  padding-top: 12.3pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.9548020362854004;
  text-align: justify;
  margin-right: 17.4pt;
}
.c150 {
  padding-top: 16pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 0.8357957601547241;
  text-align: left;
  margin-right: 23.1pt;
}
.c299 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9545547962188721;
  text-align: justify;
  margin-right: 17.3pt;
}
.c131 {
  padding-top: 1.7pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 1.186124324798584;
  text-align: left;
  margin-right: 349.8pt;
}
.c219 {
  padding-top: 0.2pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.955611526966095;
  text-align: justify;
  margin-right: 17.3pt;
}
.c261 {
  margin-left: 26.3pt;
  padding-top: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: justify;
  margin-right: 17.8pt;
}
.c298 {
  padding-top: 14.8pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.0296826362609863;
  text-align: left;
  margin-right: 17.6pt;
}
.c223 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9154328107833862;
  text-align: justify;
  margin-right: 19.9pt;
}
.c227 {
  margin-left: 4.9pt;
  padding-top: 14.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c335 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9546294212341309;
  text-align: justify;
  margin-right: 17.3pt;
}
.c196 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9902328252792358;
  text-align: left;
  margin-right: 17.8pt;
}
.c145 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9634697437286377;
  text-align: justify;
  margin-right: 18pt;
}
.c348 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9366306662559509;
  text-align: justify;
  margin-right: 17.3pt;
}
.c187 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9285697937011719;
  text-align: justify;
  margin-right: 17.4pt;
}
.c181 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9507065415382385;
  text-align: left;
  margin-right: 17.6pt;
}
.c307 {
  margin-left: 4.9pt;
  padding-top: 14.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c209 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9380147457122803;
  text-align: justify;
  margin-right: 17.3pt;
}
.c333 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9552335739135742;
  text-align: justify;
  margin-right: 17.3pt;
}
.c174 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9507065415382385;
  text-align: left;
  margin-right: 17.7pt;
}
.c321 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9634700417518616;
  text-align: left;
  margin-right: 17.8pt;
}
.c372 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9549098610877991;
  text-align: justify;
  margin-right: 17.3pt;
}
.c246 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.8745662569999695;
  text-align: left;
  margin-right: 17.5pt;
}
.c119 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9634642601013184;
  text-align: left;
  margin-right: 17.6pt;
}
.c326 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9597559571266174;
  text-align: left;
  margin-right: 17.3pt;
}
.c273 {
  padding-top: 11.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c366 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9545539617538452;
  text-align: justify;
  margin-right: 17.3pt;
}
.c257 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9541011452674866;
  text-align: justify;
  margin-right: 17.3pt;
}
.c51 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9545865654945374;
  text-align: justify;
  margin-right: 17.3pt;
}
.c235 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.950711190700531;
  text-align: left;
  margin-right: 17.3pt;
}
.c367 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9507065415382385;
  text-align: left;
  margin-right: 17.3pt;
}
.c284 {
  padding-top: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9537261128425598;
  text-align: justify;
  margin-right: 17.3pt;
}
.c189 {
  padding-top: 12.1pt;
  padding-bottom: 0pt;
  line-height: 0.9558812379837036;
  text-align: justify;
  margin-right: 17.3pt;
}
.c277 {
  margin-left: 4.9pt;
  padding-top: 16.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c192 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.954586923122406;
  text-align: justify;
  margin-right: 17.3pt;
}
.c155 {
  padding-top: 182pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c301 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9567456841468811;
  text-align: justify;
  margin-right: 17.3pt;
}
.c214 {
  margin-left: 26.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c18 {
  margin-left: 4.2pt;
  padding-top: 4.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c330 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9548020362854004;
  text-align: left;
  margin-right: 17.3pt;
}
.c182 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9536172747612;
  text-align: justify;
  margin-right: 17.3pt;
}
.c142 {
  padding-top: 247.6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c42 {
  padding-top: 12.2pt;
  padding-bottom: 0pt;
  line-height: 0.9545877575874329;
  text-align: justify;
  margin-right: 17.3pt;
}
.c247 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9544798135757446;
  text-align: justify;
  margin-right: 17.3pt;
}
.c381 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9529697299003601;
  text-align: justify;
  margin-right: 17.4pt;
}
.c313 {
  padding-top: 228.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c362 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 18.2pt;
}
.c137 {
  padding-top: 10.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c170 {
  padding-top: 432.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c248 {
  margin-left: 26.3pt;
  padding-top: 20pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c305 {
  padding-top: 3.6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c274 {
  margin-left: 26.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c290 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9552320837974548;
  text-align: justify;
  margin-right: 17.4pt;
}
.c370 {
  padding-bottom: 0pt;
  line-height: 0.9548026323318481;
  text-align: left;
  margin-right: 17.8pt;
}
.c94 {
  margin-left: 26.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c17 {
  margin-left: 4.2pt;
  padding-top: 2.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c297 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9537243247032166;
  text-align: left;
  margin-right: 17.3pt;
}
.c256 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9507075548171997;
  text-align: left;
  margin-right: 17.3pt;
}
.c175 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.962215781211853;
  text-align: justify;
  margin-right: 17.6pt;
}
.c287 {
  padding-top: 0.8pt;
  padding-bottom: 0pt;
  line-height: 0.9268616437911987;
  text-align: justify;
  margin-right: 17.4pt;
}
.c373 {
  padding-top: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.276668906211853;
  text-align: left;
  margin-right: 26.4pt;
}
.c334 {
  padding-top: 0.4pt;
  padding-bottom: 0pt;
  line-height: 0.9537252187728882;
  text-align: justify;
  margin-right: 17.3pt;
}
.c99 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9552339911460876;
  text-align: justify;
  margin-right: 17.4pt;
}
.c139 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9620264172554016;
  text-align: left;
  margin-right: 17.8pt;
}
.c166 {
  padding-top: 12.2pt;
  padding-bottom: 0pt;
  line-height: 0.9533474445343018;
  text-align: justify;
  margin-right: 17.3pt;
}
.c233 {
  padding-top: 0.1pt;
  padding-bottom: 0pt;
  line-height: 0.9620552062988281;
  text-align: justify;
  margin-right: 17.5pt;
}
.c111 {
  padding-top: 10.4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c360 {
  padding-top: 0.5pt;
  padding-bottom: 0pt;
  line-height: 0.9552327990531921;
  text-align: justify;
  margin-right: 17.3pt;
}
.c140 {
  margin-left: 4.4pt;
  padding-top: 3.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c352 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9552332162857056;
  text-align: justify;
  margin-right: 17.4pt;
}
.c81 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left;
  height: 11pt;
}
.c190 {
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c314 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9547810554504395;
  text-align: justify;
  margin-right: 17.3pt;
}
.c53 {
  margin-left: 4.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c73 {
  margin-left: 26.3pt;
  padding-top: 17.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c291 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9567421674728394;
  text-align: justify;
  margin-right: 17.3pt;
}
.c282 {
  padding-top: 13.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c239 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.954982578754425;
  text-align: justify;
  margin-right: 17.3pt;
}
.c343 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9552326798439026;
  text-align: justify;
  margin-right: 17.3pt;
}
.c325 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9529705047607422;
  text-align: justify;
  margin-right: 17.4pt;
}
.c135 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9537234306335449;
  text-align: left;
  margin-right: 17.4pt;
}
.c84 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9542900323867798;
  text-align: justify;
  margin-right: 17.3pt;
}
.c237 {
  margin-left: 4.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c364 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9559875130653381;
  text-align: justify;
  margin-right: 17.3pt;
}
.c224 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9507065415382385;
  text-align: left;
  margin-right: 9.4pt;
}
.c278 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.8922569751739502;
  text-align: center;
  margin-right: 17.3pt;
}
.c220 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9537248015403748;
  text-align: justify;
  margin-right: 17.3pt;
}
.c332 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9551733136177063;
  text-align: left;
  margin-right: 99.9pt;
}
.c215 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9537261128425598;
  text-align: justify;
  margin-right: 17.4pt;
}
.c100 {
  padding-top: 1pt;
  padding-bottom: 0pt;
  line-height: 0.915433406829834;
  text-align: justify;
  margin-right: 17.3pt;
}
.c336 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9275915026664734;
  text-align: justify;
  margin-right: 17.4pt;
}
.c79 {
  margin-left: 4.9pt;
  padding-top: 15.6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c169 {
  padding-top: 0.5pt;
  padding-bottom: 0pt;
  line-height: 0.9537261128425598;
  text-align: justify;
  margin-right: 17.3pt;
}
.c160 {
  margin-left: 26.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c316 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9543273448944092;
  text-align: justify;
  margin-right: 17.3pt;
}
.c269 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9542897343635559;
  text-align: justify;
  margin-right: 17.3pt;
}
.c35 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9634693264961243;
  text-align: left;
  margin-right: 17.9pt;
}
.c171 {
  padding-top: 3.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c26 {
  margin-left: 4.9pt;
  padding-top: 17.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c118 {
  padding-top: 10.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c72 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.955234706401825;
  text-align: justify;
  margin-right: 17.5pt;
}
.c40 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9545875191688538;
  text-align: justify;
  margin-right: 17.3pt;
}
.c324 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9545880556106567;
  text-align: justify;
  margin-right: 17.3pt;
}
.c251 {
  padding-top: 167.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c259 {
  padding-top: 23.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c351 {
  padding-top: 34.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c361 {
  margin-left: 4.9pt;
  padding-top: 18.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c349 {
  padding-top: 13.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c264 {
  padding-top: 16.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c49 {
  margin-left: 4.2pt;
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c85 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9547297358512878;
  text-align: justify;
  margin-right: 17.4pt;
}
.c82 {
  margin-left: 4.9pt;
  padding-top: 15.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c234 {
  padding-top: 4.1pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c104 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9543300271034241;
  text-align: justify;
  margin-right: 17.4pt;
}
.c21 {
  margin-left: 0.2pt;
  padding-top: 0.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c64 {
  margin-left: 4.3pt;
  padding-top: 4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c344 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9021813869476318;
  text-align: justify;
  margin-right: 17.4pt;
}
.c356 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.954782247543335;
  text-align: justify;
  margin-right: 17.3pt;
}
.c115 {
  padding-top: 21.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c217 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9543309211730957;
  text-align: justify;
  margin-right: 17.3pt;
}
.c38 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 0.9634642601013184;
  text-align: left;
  margin-right: 18.1pt;
}
.c93 {
  padding-top: 3.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 20pt;
}
.c300 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9552335739135742;
  text-align: left;
  margin-right: 17.4pt;
}
.c254 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9551740288734436;
  text-align: left;
  margin-right: 17.9pt;
}
.c242 {
  padding-top: 14.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
  margin-right: 21.1pt;
}
.c281 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9507065415382385;
  text-align: left;
  margin-right: 17.3pt;
}
.c231 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.944028913974762;
  text-align: center;
  margin-right: 17.3pt;
}
.c378 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.9352784156799316;
  text-align: justify;
  margin-right: 1.7pt;
}
.c383 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 0.9561399221420288;
  text-align: justify;
  margin-right: 17.4pt;
}
.c146 {
  padding-top: 4.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c322 {
  padding-top: 4.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c130 {
  padding-top: 3.4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c176 {
  padding-top: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c20 {
  padding-top: 2.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c218 {
  padding-top: 2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c1 {
  padding-top: 3.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c50 {
  padding-top: 386.4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}
.c9 {
  margin-left: 20.3pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c37 {
  padding-top: 2.1pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c163 {
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c279 {
  padding-top: 1.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c200 {
  padding-top: 5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c91 {
  padding-top: 12pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c103 {
  padding-top: 3.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c43 {
  padding-top: 4.4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c258 {
  padding-top: 10.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}
.c22 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}
.c32 {
  margin-left: 26.1pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c222 {
  padding-top: 3.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c255 {
  padding-top: 1.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c70 {
  padding-top: 3.6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c221 {
  padding-top: 0.6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c345 {
  padding-top: 12.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}
.c212 {
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}
.c123 {
  padding-top: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c144 {
  padding-top: 2.4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c159 {
  margin-left: 25.9pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c105 {
  padding-top: 1.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c108 {
  padding-top: 0.4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c337 {
  padding-top: 25.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c152 {
  padding-top: 2.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c63 {
  padding-top: 2.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c141 {
  padding-top: 3.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}
.c271 {
  padding-top: 1.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c122 {
  padding-top: 2.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c114 {
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c92 {
  padding-top: 3.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c193 {
  padding-top: 3.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c286 {
  padding-top: 6.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c353 {
  padding-top: 12.4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}
.c205 {
  padding-top: 3.8pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c241 {
  padding-top: 8.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}
.c312 {
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c375 {
  padding-top: 1pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c177 {
  max-width: 533.5pt;
  padding: 35.4pt 32.6pt 22.1pt 27.8pt;
}
.c124 {
  margin-left: 26.1pt;
}
.c101 {
  height: 63.7pt;
}
.c157 {
  background-color: #ffffff;
}
.c10 {
  margin-left: 0.8pt;
}
.c164 {
  margin-left: 6.1pt;
}
.c67 {
  margin-left: 0.2pt;
}
.c149 {
  margin-left: 6.3pt;
}
.c138 {
  margin-left: 5.8pt;
}
.c54 {
  margin-left: 26.5pt;
}
.c338 {
  height: 80.1pt;
}
.c270 {
  height: 51.1pt;
}
.c211 {
  text-indent: -0.1pt;
}
.c125 {
  height: 89.2pt;
}
.c331 {
  margin-left: 27.2pt;
}
.c97 {
  margin-left: 4.3pt;
}
.c90 {
  margin-left: 4.2pt;
}
.c78 {
  margin-left: 5.9pt;
}
.c319 {
  margin-left: 26.3pt;
}
.c245 {
  height: 76.3pt;
}
.c194 {
  margin-left: 26.2pt;
}
.c296 {
  height: 13.2pt;
}
.c34 {
  margin-left: 0.1pt;
}
.c309 {
  height: 150.2pt;
}
.c8 {
  background-color: #f7cbac;
}
.c225 {
  height: 86.9pt;
}
.c116 {
  height: 76.4pt;
}
.c25 {
  margin-left: 5.7pt;
}
.c216 {
  margin-left: 26.4pt;
}
.c47 {
  margin-left: 4.1pt;
}
.c46 {
  margin-left: 6pt;
}
.c68 {
  height: 101.8pt;
}
.c106 {
  height: 13.1pt;
}
.c83 {
  height: 89pt;
}
.c272 {
  height: 79.2pt;
}
.c27 {
  background-color: #deebf6;
}
.c368 {
  height: 74.3pt;
}
.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-weight: 700;
  font-size: 18pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 14pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 11pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
